body {
    background-image: url("../img/loginbg.jpg");;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    body {
        background-position: 50% 30%;
        background-size: 450%;
    }
}

#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: rgba(240, 255, 255, 0.3);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    margin-top: 22px;
}
 
.label_input {
    font-size: 16px;
    font-family: Calibri Light, Segoe Print, Ink Free;
 
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 278px;
    height: 28px;
    font-size: 16px;
    font-family: Calibri Light, Segoe Print, Ink Free;

    text-indent:10px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_login {
    font-size: 16px;
    font-family: Calibri Light, Segoe Print, Ink Free;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
 
    float: left;
}
 
#forget_pwd {
    font-size: 16px;
    font-family: Calibri Light, Segoe Print, Ink Free;
    color: white;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
 
}
 
#forget_pwd:hover {
    color: orange;
    text-decoration: underline;
}
 
#login_control {
    padding: 7px 31px;
}
